@font-face 
{
  font-family: Nunito-Bold;
  src: url('../fonts/Nunito/Nunito-Bold.ttf');
}

@font-face
{
  font-family: Nunito-Light;
  src: url('../fonts/Nunito/Nunito-Light.ttf');
}
@font-face
{
  font-family: Nunito-Regular;
  src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face
{
  font-family: Nunito-SemiBold;
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf');
}
